/* RESETAR CONFIGURAÇÃO PADRÃO DO NAVEGADOR */
*{margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;}

body{font-family: Arial, Helvetica, sans-serif;
color: #fff;
height: 100vh;
display: grid;
grid-template-columns: 75% 25%;
grid-template-areas: 'cabecalho formulario'
                     'principal formulario'
                     'rodape formulario';}

/* HEADER */
header{grid-area: cabecalho;}
.logo{display: flex;/*para tornar os elementos flexíveis*/
align-items: center; 
padding: 10px 30px;}
/* VARIAVEIS*/
:root{
    --corAzul: #274083 
}

.logo h1{color: var(--corAzul);
    margin-left: 20px;}

.logo img{width: 80px;}

/*  MAIN*/
main{grid-area: principal;
background: linear-gradient(to right, #48a0df, var(--corAzul));
display: flex;
align-items: center;
padding-left: 50px;
padding-top: 10px;
padding-bottom: 10px;
line-height: 1cm;/*espaçamento entre linhas*/}

main figure{width: 200px;}

main figure img{width: 100%;}

main section h1{font-size: 40px;
width: 80%;}

main section h3{ width: 80%;}

/* ASIDE */
aside{grid-area: formulario;
background-color: var(--corAzul);}

aside h1{text-align: center; 
margin-bottom: 20px;
line-height: 1cm;
margin-top: 20px;}

aside form{width: 90%;
margin: 0 auto;
display: flex;
flex-direction: column;
gap: 20px;}

aside form input, aside form select, aside form button{padding: 10px;
font-size: 16px;
border: none;
border-radius: 20px;
}

::placeholder{color: black;}

/* aside input:focus, aside select:focus{outline: 2px solid #48a0df;}  */
aside :where(input, select):focus{outline: 2px solid #48a0df;}/*Não pode deixar o seletor :where colado em outro seletor, caso contrario não irá funcionar*/

aside form button{background-color: #11dd2c;  
cursor: pointer;
transition: all 0.2s linear;}

aside form button:hover{box-shadow: 0 0 10px #000;
    transition: all 0.2s linear;}

aside small{margin-top: 20px;
margin-bottom: 20px;
padding: 10px;
display: block;
align-items: center;}

/* FOOTER */
footer{grid-area: rodape;
background-color: #ccc;
color: var(--corAzul);
display: flex;
padding: 30px;}

footer section{margin: 5px 20px;}

footer .rodape-titulo{margin-bottom: 20px;}

footer .rodape-conteudo{text-align: justify;
line-height: 0.7cm;}

/*RESPONSIVIDADE*/
/*Tablet*/

@media screen and (max-width:1200px) {
    body{
        grid-template-columns: 100%;
        grid-template-areas: 'cabecalho'
                             'principal'
                             'rodape'
                             'formulario';
    }

    main figure {
        margin-right: 20px;
    }
    main{height: 50vh;}

}

/*Smartphone*/

@media screen and (max-width:750px) {  
    main figure{display:none;} 

    main{background:#48a0df  url(../imagens/livro2.png);
    background-size: 200px; 
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;}

    main h1, main h3{ width: 100%; text-shadow: 2px 1px 2px #000;}

    footer {flex-direction: column; row-gap: 20px;}
}
